[2014-12-18 15:19] wtfzdotnet opened #2 "Upcoming 2.0 release compatibility of php-tmdb-api"
Make sure the plugin is updated;

1. What is required to implement the event dispatcher of Laravel?
2. Assert that logging and caching etc. still works as expected.
3. Figure out what version constrains apply.

[2015-01-22 14:58] notflip opened #3 "Error when following instructions"
Call to undefined method Tmdb\Api\Movies::load()

I'm trying to test this out in laravel using:
I followed the instruction on this page

    Route::get('/', function()
    {
	    $client = Tmdb::getMoviesApi()->load(13);
	    return $client;
    });

[2015-01-22 15:08] wtfzdotnet commented on #3
Could you give the Repository methods a try? I'm not sure what's causing this, I'll have to check at home later tonight.

[2015-01-22 15:09] notflip commented on #3
Thanks for your response, It's producing the same error. Do i have to include anything at the top for laravel? or a use .. ?

[2015-01-22 15:12] wtfzdotnet commented on #3
I'm not familiar at all with laravel, this package was a best effort, try debugging the tmdb class in this repository to see what's going?

[2015-01-22 15:13] notflip commented on #3
I will give it a try! Thank you

2015-01-22 16:12 GMT+01:00 Michael Roterman <notifications@github.com>:

[2015-03-06 08:24] crazydc opened #5 "Doesn't work with Laravel 5."
Seems Laravel have upgraded the Illuminate/support to 5.0.13. I will try and create a new dev branch of this and test it with Laravel 5.

[2015-03-09 19:56] notflip opened #7 "[BadMethodCallException] Call to undefined method [package] ( dev-laravel5)"
I found the error I was talking about with the Laravel5 branch.

When you try to publish the config it hits an exception because of the serviceprovider change in laravel5.

Is anyone here capable of changing the serviceprovider to the Laravel 5 method?
I'll try looking into it tomorrow.

[2015-03-09 21:47] notflip commented on #5
Hi,

I managed to change how laravel 5 loads the config variables.

https://github.com/wtfzdotnet/tmdb-package/compare/master...notflip:dev-laravel-5?expand=1

[2015-03-09 21:48] notflip commented on #5
I managed to change how Laravel 5 loads the config.

https://github.com/wtfzdotnet/tmdb-package/pull/8

[2015-03-09 22:29] wtfzdotnet commented on #5
@crazydc could you possibly give me some feedback if this fixes it? If so I'll merge it in for now, I found a forum topic where @notflip posted and asked a community member @markredeman to help out fix this package for you laravel users out there.

[2015-03-10 06:54] crazydc commented on #5
I couldn't figure out how I can use composer to install my own branch to test it correctly.

I was manually hacking it into my code and could not get it to play nice. The configuration part that @notflip mentions looks like it would work. I personally have not tested. I will copy code manually into my Dev branch and see if it gets it work.

Any hints on how I can use composer to install private br

[2015-03-10 08:13] notflip commented on #5
{
    "repositories": [
        {
            "type": "vcs",
            "url": "https://github.com/notflip/tmdb-package"
        }
    ],
    "require": {
        "wtfzdotnet/tmdb-package": "dev-dev-laravel-5"
    }
}

And yes i thought you had to type the dev part yourself so now it's dev-dev :)

[2015-04-04 11:06] MarkRedeman commented on #7
@notflip this is fixed with the new version.

[2015-04-04 11:06] #7 closed

[2015-04-04 11:06] MarkRedeman commented on #5
@crazydc Laravel 5 support has been added in the new version.

[2015-04-04 11:06] #5 closed

[2015-04-04 11:08] MarkRedeman commented on #3
@notflip did you solve this issue? (if not, try the new version)

[2015-04-04 11:09] MarkRedeman commented on #2
Done. :smile:

[2015-04-04 11:09] #2 closed

[2015-04-04 11:16] MarkRedeman opened #10 "Add easier caching configuration"

[2015-04-04 11:17] MarkRedeman opened #11 "Add easier logging configuration"

[2015-04-05 14:21] wtfzdotnet commented on #10
@MarkRedeman documenting this functionality was enough for the symfony integration with some tiny adjustments, if you need to share some thoughts you know where to find me.

[2015-04-10 07:04] notflip commented on #3
I've got it fixed using the new version. Thanks!

[2015-04-13 14:57] Rtransat opened #12 "Change language parameter with plugin"
Hi,

Great package for tmdb integration with laravel :)

I've tried to change the language from the api to [French](https://github.com/php-tmdb/laravel#registering-plugins) (fr) but I've still the data in English.

I've also tried [this](https://github.com/php-tmdb/api#general-api-usage) but is not working with language parameter :/

Thx

[2015-04-13 18:03] MarkRedeman commented on #12
I've probably have found why it's not working, will try to fix it tonight.

[2015-04-13 18:18] MarkRedeman commented on #12
@Rtransat can you confirm that this is fixed?

[2015-04-13 19:41] Rtransat commented on #12
Still not fixed :/

[2015-04-13 19:42] MarkRedeman commented on #12
Did you update the version? Maybe your cache isn't cleared?
I tried it using a Dutch filter which worked on my laptop.

[2015-04-13 19:46] Rtransat commented on #12
Yes it's updated, I have clear the config cache, application cache and dump autoload from composer. But nothing new :/

[code]

[2015-04-13 19:49] #12 closed

[2015-04-13 20:01] MarkRedeman commented on #12
@Rtransat I will add a note that clearly states that you have to use the boot method. It's quite easy to ignore the current message.

[2015-04-14 16:27] #3 closed

[2015-04-16 17:40] pedrommone opened #13 "Issues with API Key"
I just install with composer on laravel 4.2 and every request I do I get invalid key error.

[code]

Made this workaround and worked. The config file is returning blank.

[2015-04-16 20:39] MarkRedeman commented on #13
I forgot to configure the Laravel 4 service provider after renaming the package. Can you confirm that it is fixed after the latest commit?

[2015-04-20 12:19] pedrommone commented on #13
Fixed, thank you.

[2015-04-20 12:19] #13 closed

[2015-05-13 14:03] notflip commented on #3
U bent uitgenodigd!

Met Airbnb kun je unieke accommodaties bij lokale verhuurders ontdekken, over de hele wereld.
Het is simpel, meld je voor 20 mei 2015 aan om €22 korting te krijgen op je eerste reis van €89 of meer.

Accepteer Uitnodiging
http://www.airbnb.be/c/mstevens1?euid=d3a47a24-0fb8-43bc-e149-deddacab01b0&ri=18292375&s=1

Bedankt,
Het Airbnb Team

Postbus 410807, San Francisco, CA 94121

[2015-06-25 01:25] dodwmd opened #14 "Everything private"
Hi,

When using the example where you getPopular() in the README all the objects are returned private so you can't use them? only the helper is able to call reference them.. shouldn't they all be set as public? so you can use them as you like.. am i missing something?

[code]

And in the view:

[code]

Errors with:

[code]

[2015-06-25 07:56] wtfzdotnet commented on #14
@dodwmd try using the getters?  E.g. `getOriginalTitle`.

[2015-06-25 13:03] dodwmd commented on #14
Cool all working now.. thanks

[2015-06-25 13:03] #14 closed

[2015-07-31 13:09] windows1087 opened #15 "Problem with composer"
I added `"php-tmdb/laravel": "~1.0"` in my composer.json from my laravel 5 project.

If i run `composer update`, here are the problems:

[code]

[2015-08-03 13:23] filpgame commented on #15
i had these same problems too, im trying to use right now. I already use guzzlehttp/guzzle ~6.0.

[2015-08-22 15:39] DeeJaVu opened #18 "How do i handle errors ?"
because when /movie/0 does not exist it returns a TmdbApiException
is there a way to show a custom error page ?

[2015-08-22 18:04] wtfzdotnet commented on #18
Read up on try catch blocks :)

[2015-08-22 18:10] DeeJaVu commented on #18
im doing that almost 24 hours, ik ben noob

[2015-08-22 19:28] wtfzdotnet commented on #18
[code]

[2015-08-22 19:28] #18 closed

[2015-08-22 19:30] DeeJaVu commented on #18
riiiight echt bedankt je bent de beste

[2015-08-24 15:05] DeeJaVu opened #19 "how to paginate ?"
how can i paginate popularMovies for example ?

[2015-08-26 01:05] DeeJaVu commented on #19
i found my way to do it

[2015-08-26 01:05] #19 closed

[2015-09-09 20:02] rifats opened #20 "Person credit order"
Tell me please how to get the cast and crew records for Person in the right order (by year)? By default getCombinedCredits, getTvCredits and getMovieCredits methods do not return them in correct order.
Many thanks.

[2015-09-12 21:58] wtfzdotnet commented on #20
Hi @rifats ,

I've only noticed your ticket earlier and took a look under the hood of our main libray `php-tmdb/api`. This functionality was not present yet but thanks to this https://github.com/php-tmdb/api/commit/55dc12fec4c18679099761ca23a062a89a4a05ac commit you can now sort any collection.

So please make sure you have version `2.0.11` of the `php-tmdb/api` library installed, then try the fol

[2015-09-12 21:58] #20 closed

[2015-09-13 08:44] rifats commented on #20
@wtfzdotnet , thank you for the hint!
I realized that the API does not implement sorting. And yesterday I did so (for CombinedCredits):

[code]

[2015-09-14 19:46] Zaifor opened #21 "configuration not published - laravel 5"
tmdb.php isnt published in {Laravel}/config folder

php artisan vendor:publish --provider=php-tmdb/laravel
Nothing to publish for tag [].

Laravel Framework version 5.1.16 (LTS)
I'm using Homestead on windows 10 if it is important.

if I create tmdb.php in /config its working ok.

[2015-09-17 20:34] wtfzdotnet commented on #21
@markredeman could you shed some light on this? :)

[2015-09-17 22:18] Zaifor commented on #21
if I'm not mistaken vendor:publish must create tmdb.php file in Laravel's /config folder.

With fresh laravel 5.1 installation i'm fallowing the README: require the package, add the service provider to app.php and run php artisan vendor:publish --provider=php-tmdb/laravel.

Than the README says: "Next you can modify the generated configuration file tmdb.php accordingly."

But theres no such a file

[2015-09-17 22:33] Zaifor commented on #21
Ok, just "php artisan vendor:publish" its working as expeced with 5.1.

Copied File [/vendor/php-tmdb/laravel/src/config/tmdb.php] To [/config/tmdb.php]

[2015-09-24 04:25] mattkloc commented on #21
Thank You Zaifor. I had the same issue.

[2015-10-11 15:56] wtfzdotnet commented on #21
Hey guys,

I'm not a laravel guy at all and the maintainer of this repo is @markredeman, is it possible for you guys to send a pull request to update documentation or even the code itself to fix this?

I'll be happy to merge in some improvements.

Thanks

[2015-10-11 18:18] MarkRedeman commented on #21
Sorry for the late reply, I've updated the readme. The command should have been:
[code]

Just `php artisan vendor:publish` will also work, but it will also publish configurations from other packages.

[2015-10-11 18:18] #21 closed

[2015-10-19 18:35] notflip opened #22 "How does the cache work?"
Hi again! Still very happy with this amazing library. I'm wondering how the cache works? Is it explained somewhere? Thank you!

[2015-12-21 21:02] Rtransat opened #23 "[L5.2] Update composer.json"
Can you update your composer.json to update the event-dispatcher package to v3.0 ?

[2015-12-21 22:33] wtfzdotnet commented on #23
Could you create a fork with this update and submit a pull request for @MarkRedeman to review? I'm not involved with Laravel so I have no clue what implications there are for backwards compatibility.

[2015-12-22 13:09] MarkRedeman commented on #23
This is currently not possible because [TMDB/API](https://github.com/php-tmdb/api/blob/2.0/composer.json#L18) depends on version `~2.4`.
@wtfzdotnet I did a quick check and it seems that all unit tests are passing when the version of `symfony/event-dispatcher` is upgraded to `~3.0`. Could you verify that it is safe to upgrade to version 3?

[2015-12-22 13:49] MarkRedeman commented on #23
@Rtransat Is there any reason why you need version 3? I've tested the package with Laravel 5.2 and it seems to work out of the box. Are there other packages that require version 3?

[2015-12-22 14:05] MarkRedeman commented on #22
Hi @notflip apologies for the late response.

The logging is handled by the main [API](https://github.com/php-tmdb/api) package which uses [doctrine-cache](https://github.com/doctrine/cache). Here is an [example of caching](https://github.com/php-tmdb/api/blob/2.0/examples/caching.php).
By default it will use the filesystem for caching (and logging).

I personally don't have any experiences with `

[2015-12-22 14:07] MarkRedeman commented on #15
Hi @windows1087 @filpgame is this still an issue? I haven't been able to replicate your error message.

[2015-12-22 15:22] Rtransat commented on #23
I can't check right now but last night composer tellîg me an error with composer require command about an error with envent dispatacher 2.0. It need to install event dispatcher v2 to install the package.

[2015-12-22 16:04] MarkRedeman commented on #23
Then I guess there is some other package that you're using that requires v3.

I've updated PR #25 to change the dependency of `event-dispatcher` to `~2.8|~3.0`, which I will probably merge tonight.

[2015-12-22 16:17] Rtransat commented on #23
It was a fresh install of laravel and php-tmdb/laravel was the first package I've installed in my new laravel installation.

[2015-12-22 19:35] Rtransat commented on #23
I just retry and everything works perfectly, no errors with composer. I don't know why composer throw an error yesterday.

[2015-12-22 20:42] MarkRedeman commented on #23
That's quite weird, maybe someone changed its dependencies?

I've updated PR #25 so that it will be fully compatible with `event-dispatcher` v3.0.

[2015-12-23 09:57] MarkRedeman opened #26 "Deprecate L4 and require PHP 5.6"
I'm considering to no longer support Laraval 4 with release 2.0.0, and change the PHP requirement to 5.6.
This would make maintaining this package somewhat easier.

Since I'm not using this package for any projects of my own I would like to get some input from its users. Is there anyone who is using Laravel 4 with this package?

[2015-12-24 18:38] MarkRedeman commented on #23
@Rtransat I've released a new version that is compatible with v3, so I'm closing this issue.

[2015-12-24 18:38] #23 closed

[2016-02-08 12:52] Vherus opened #28 "Not compatible with current Laravel version (5.2)"
`composer require php-tmdb/laravel`

[code]

Cause: A fresh Laravel 5.2 project comes with symfony/event-dispatcher v3.0.2, php-tmdb/laravel requires symfony/event-dispatcher ~3.0

[2016-02-08 12:56] Vherus commented on #28
Just came across a previous post of this, sorry!

[2016-02-08 14:15] MarkRedeman commented on #28
@Vherus can you show us your `composer.json` file? There probably is another package that explicitly depends on v3 of the event-dispatcher.
When I run `composer depends symfony/event-dispatcher` on a Laravel 5.2 project using `php-tmdb/laravel` I get,
[code]

Note that currently this laravel wrapper package is compatible with v3, but `php-tmdb/api` isn't (see https://github.com/php-tmdb/api/issues

[2016-02-08 14:18] Vherus commented on #28
Hey @MarkRedeman

It's just the clean laravel project one:

[code]

[2016-02-08 14:37] MarkRedeman commented on #28
Hmm that's strange, maybe something changed since the last time I installed my test project. I will look into this later this week, though we will probably need to wait until the dependencies of php-tmdb/api gets updated.

---

Ah! I think I know why it's not working, though I'm not sure how to fix it in a "nice" way.
Instead of using `composer require php-tmdb/laravel`, add the package directly i

[2016-02-08 14:40] Vherus commented on #28
Cheers Mark. I feel dirty doing it but it probably serves its purpose...

[2016-02-08 23:40] wtfzdotnet commented on #28
Hi Mark,

Could you update the api as you see fit to fix 115? I'm in the middle of
moving apartments and really don't have much time. Thanks for your efforts
continuing to update the packages, hope you can help out here :)
On Feb 8, 2016 15:15, "Mark Redeman" <notifications@github.com> wrote:

[2016-02-10 07:57] MarkRedeman commented on #28
@wtfzdotnet I'll see what I can do. I first need to catch up to some homework stuff, but will check it out once that's finished.

[2016-03-24 22:20] Laravelish commented on #28
please update, its taking long time

[2016-03-25 08:46] wtfzdotnet commented on #28
@laravelish , if you run composer what does it tell you? Recently I have merged in upgrades in the base repository that add support for the event dispatcher. I just checked the composer file here and it looks to me mark already made the change.

[2016-03-25 08:51] Laravelish commented on #28
Hi @wtfzdotnet this is the error im getting when i run `composer require php-tmdb/laravel`
[code]

[2016-03-25 23:58] gmask opened #29 "How does Pagination work?"
I'm wondering if it's possible to use Laravel's pagination with this, or if there's a way to do it on the API itself? When I run` dd(get_class_methods($popular))`, for example, I can see these:

[code]

But I have absolutely no idea how to access them. Could anyone point me in the right direction?

[2016-03-26 01:32] wtfzdotnet commented on #29
Hi @gmask,

[code]

For any more examples I would advise you to review the base repository, https://github.com/php-tmdb/api/blob/2.0/README.md

As I don't use laravel I can't answer your specific pagination question.

[2016-03-26 01:36] wtfzdotnet commented on #28
I'll look into this tomorrow

[2016-03-28 00:42] laravelish commented on #28
@wtfzdotnet did you look in to it ?

[2016-03-28 12:39] wtfzdotnet commented on #28
@laravelish for a short period I did, something came in between, will give it another go today.

[2016-03-28 12:54] wtfzdotnet commented on #28
@laravelish could you post your `composer.json` file? I think it has to do either with a dependency on guzzle 6 or I am missing something, updating composer dependencies with this stripped version worked for me ( just removed the scripts section as I didn't install laravel completely ).

[code]

[2016-03-28 12:56] laravelish commented on #28
@wtfzdotnet ja this is my composer https://github.com/laravelish/EasyAdmin/blob/master/composer.json

[2016-03-28 13:08] laravelish commented on #29
@gmask this is how i do it

[code]

[2016-03-28 13:31] wtfzdotnet commented on #28
@laravelish this will require an upgrade to guzzle6, I have done some quick edits, but as such caching and logging are not functioning right now. I'll get to that later in the afternoon, if you add the following to you composer file before requiring the laravel plugin, are thing working out then? :)

[code]

I seriously urge you not to push this to a production site, but I guess this will help you

[2016-03-28 13:39] laravelish commented on #28
@wtfzdotnet yes its working, you are a great developer mate

[2016-03-28 13:50] wtfzdotnet commented on #28
@laravelish if you update again now caching will work again ( filesystem based per default ).

[2016-03-28 14:30] wtfzdotnet commented on #28
I'll continue work on this sometime this week, still have to update unit tests and reimplement the retry feature when the rate limit is hit.

Just FYI, https://github.com/php-tmdb/api/pull/111

[2016-03-28 16:25] gmask commented on #29
@laravelish You're awesome, thank you; it works perfectly!

[2016-03-28 16:25] #29 closed

[2016-04-06 18:59] wtfzdotnet commented on #28
@laravelish as you might have noticed I'm a bit off schedule, I've just fixed all the related tests and have the re-implementation of the 429 error left right now. I'll see if I can tackle this fairly quickly and create a `2.1-beta` branch for you to try.

[2016-04-20 14:00] AnthonyBloomer commented on #15
If anyone is having the same issue, you need to install the tmdb api first.

Add the following to your composer.json file.

[code]

[2016-05-10 05:45] laravelish commented on #26
do people still use L4 !

[2016-07-27 04:45] kurtaking opened #30 "Examples/Documentation"
Where can I find examples/documentation on all the default functions?

For example Tmdb::getMoviesApi()->getMovie($id);

How can I search for one/all movies by a specific title?

Thanks!

[2016-07-27 08:13] MarkRedeman commented on #30
Hi Kurt,

You can find most of the examples in the [php-tmdb/api](https://github.com/php-tmdb/api/tree/2.0/examples) repository.
In this case you should take a look at the [search movie example](https://github.com/php-tmdb/api/blob/2.0/examples/search/api/movie.php).

The example shows the following,
[code]

Since this package includes a facade you don't have to do the setup with the API key, inst

[2016-11-08 13:55] rifats opened #31 "Level is not defined in Logger.php"
Hello!
There is an error after updating:
`
InvalidArgumentException in Logger.php line 461: Level "" is not defined, use one of: 100, 200, 250, 300, 400, 500, 550, 600
`

`
in Logger.php line 461
`
`
at Logger::getLevelName(null) in Logger.php line 292
`
`
at Logger->addRecord(null, 'pc wtfzdotnet/php-tmdb-api (v2.1.4) - [08/Nov/2016:13:45:53 +0000] "GET /3/configuration?api_key=xxxxxx HTTP/1.1" N

[2016-11-09 06:16] Fatih90 commented on #31
hi i once got exactly the same error and while i was searching for help, i upgraded my laravel using composer update, and the error was gone, what version of laravel are you using ?
i am using `Laravel Framework version 5.3.22`

[2016-11-09 15:35] rifats commented on #31
Fatih90, hi!
The same version - 5.3.22. Two month ago I updated from 5.2 by following the guide https://laravel.com/docs/5.3/upgrade
Maybe something missed. I'll check again.

[2016-11-09 15:43] MarkRedeman commented on #31
Do you think you two can figure out what's wrong and make a pull request? Though I'm the maintainer of this package I'm not using it so debugging is difficult / would take quite some time.

---
What's the value of your `APP_LOG_LEVEL` entry in your `.env` file?

[2016-11-09 15:46] MarkRedeman commented on #28
Can anyone confirm that this is fixed with the `2.1.x` release of `php-tmdb/api`?

[2016-11-09 15:50] rifats commented on #31
`APP_LOG_LEVEL=debug`
I must first check the upgrade process. Maybe it's my fault.

[2016-11-09 18:59] Fatih90 commented on #31
@rifats try it in a new laravel installation usin the laravel installer: `laravel new app`

or share you code where this error happens and i will see if i get the same error

[2016-11-09 19:29] rifats commented on #31
@Fatih90 it is Tmdb\Helper\ImageHelper
In controller's __construct
[code]
or in blade:
[code]

[2016-11-09 21:45] Fatih90 commented on #31
@rifats

it works just fine, did you try it on a brand new installation of laravel

![image](https://cloud.githubusercontent.com/assets/22959827/20155852/17373b78-a6ce-11e6-866f-d8f5f0ef9304.png)

[2016-11-12 17:12] rifats commented on #31
I created a new project, a test controller for tmdb - works fine. So it must be some mistake of upgrade process. I'll copy the files of my project to the new one. @Fatih90 thank you for participating.

[2016-11-16 16:26] gmask commented on #28
@MarkRedeman I've been using this package with Laravel 5.3 without issue for over a month.

[2016-11-19 16:38] w1n78 opened #32 "trying to search for a movie using title?"
hello, i'm trying to search for a movie by title. i can't seem to figure it out. here is my code.

[code]

i get this error
[code]

i tried to pass 'title' or 'movie' as the second argument and i get a similar error that sounds like it's not supposed to be a string. i know i'm doing something wrong. hope someone can help. thanks.

[2016-11-22 03:25] devnick commented on #32
@w1n78 not sure if you resolved this yet or not, but this should do the trick.

[code]

[2016-11-22 04:05] #32 closed

[2016-11-22 04:07] w1n78 commented on #32
@devnick thank you so much. i knew i was missing something. i was so close haha. i also assume all the methods are found in \Tmdb\Model\Movie.php right? i wish there were more sample code.  i have a hard time understanding some times

[2016-11-22 04:24] devnick commented on #32
@w1n78 No problem! You are correct in that the methods on the individual Movie objects contain all of the methods required to retrieve the data necessary for each item.

I agree with you in terms of the sparse documentation. An organized Wiki would certainly be nice, but fortunately the source code is documented quite well and the there are several typical examples there that help to put things in

[2016-11-22 04:50] w1n78 commented on #32
@devnick ok cool thanks. yes, i found the examples but i had to change it so i can use it in laravel. i was so close just couldn't get that second argument to work haha. once i get used to it, i'll probably contribute some example code i use in the wiki that uses laravel. thanks again. i'm rewriting an old codeigniter app i had done a few years ago using the tmdb api. i'm just rusty.

[2016-11-22 09:10] MarkRedeman commented on #32
In case you hadn't seen the examples from the original `php-tmdb/api` repo, [here is a link](https://github.com/php-tmdb/api/tree/2.1/examples).

Please feel free to send any Pull Request on documentation, code or anything you like. Both me and @wtfzdotnet don't (actively?) use this project so it's hard to come up with useful documentation.

[2016-11-22 09:11] MarkRedeman commented on #28
@gmask good to know, will close this issue then.

[2016-11-22 09:11] #28 closed

[2016-11-28 17:11] rifats commented on #31
@Fatih90, hi!
Do you have log enabled in config/tmdb.php?

[2016-11-29 01:33] Fatih90 commented on #31
@rifats  ya i do

[2016-11-29 21:10] wtfzdotnet commented on #22
Closing this issue seeing the age of it...

[2016-11-29 21:10] #22 closed

[2016-11-29 21:10] wtfzdotnet commented on #15
Closing this issue seeing the age of it...

[2016-11-29 21:10] #15 closed

[2016-11-29 21:11] wtfzdotnet commented on #26
Closing this issue seeing the age of it...

[2016-11-29 21:11] #26 closed

[2016-11-29 21:12] wtfzdotnet commented on #11
Is this issue still pending?

[2016-11-29 21:12] wtfzdotnet commented on #10
Is this issue still pending?

[2016-11-29 21:17] wtfzdotnet commented on #32
Hey Guys,

I used to is this project for an in-house application to show and list movies that used to be on a certain machine :-). I however since moved to alternatives and pretty much abandoned this application.

We could really use the help of the community to keep maintaining this library, I still maintain the base library on a "sort of common basis", but I'd really prefer the community taking

[2017-01-04 22:09] okaufmann commented on #31
Any news for this bug?

I think it has something to do with the cache plugin: https://github.com/rtheunissen/guzzle-log-middleware

The logging level will be set here:
https://github.com/php-tmdb/api/blob/857e6f6541582d7275e608ab4232e479e151b852/lib/Tmdb/HttpClient/HttpClient.php#L488

[2017-01-07 13:00] rifats commented on #31
@okaufmann Yes, I followed up this line, but do not know how to solve issue. I disabled caching to continue working.

[2017-06-02 03:12] #31 closed

[2017-06-02 04:18] yukoff commented on #11
Closing as duplicate of #10

[2017-06-02 04:18] #11 closed

[2017-09-05 22:49] marleybobby opened #34 "Remove language for specific requests?"
I need to remove the language parameter for some requests, e.g. PeopleRepository to receive the biography.

I set it as mentioned in the readme. But how to remove it for a single request?

Greetings

[2017-09-07 19:19] yukoff commented on #34
@marleybobby, could you be more specific? Some examples would also be useful. BTW, are you sure this issue is related to `php-tmdb/laravel`?

[2017-09-07 22:05] marleybobby commented on #34
@yukoff I'm not a 100% sure that this is the right place to ask but 90%, but becuse I'm using your wrapper for the tmdb-api it appeared the right section for me.

I register the `LanguageFilterPlugin` as suggested in your Readme.

[code]

Then I make a request like:

´´´php
// Get an actor
$repository = App::make(PeopleRepository::class);
// Hook in to change the language back to english???
$perso

[2017-09-15 12:42] Fatih90 opened #38 "tmdb.php file changes not applying"
@wtfzdotnet @MarkRedeman @yukoff   Hello, i am using laravel 5.5.4
and php-tmdb/laravel version 1.1
and php-tmdb/api version 2.1

[code]

but there is a problem because i think the php-tmdb/laravel is not reading the tmdb.php file
i have a valid api key but i get
[code]

also if i change the 'secure', 'cache', 'log' to false, these settings are not

this package worked yesterday. pls help

[2017-09-16 03:02] Fatih90 commented on #38
something is wrong with the Package Auto-Discovery !!!
i added php-tmdb/laravel to the don't discover list in composer file
and then added the tmdb serviceprovider to the app.php providers list and guess what its working !

keep in mind that there is nothing wrong with my laravel app itself beucause i  cleared the composer cache and tested this on a clean installation of latest laravel

im gonna f

[2017-09-16 03:49] Fatih90 commented on #38
ok i just fixed it by changing

Tmdb\\Laravel\\TmdbServiceProviderLaravel5
to
Tmdb\\Laravel\\TmdbServiceProvider"

[2017-09-16 03:53] Fatih90 commented on #38
#39

[2017-09-25 15:29] roliod opened #41 "Convert Collection (ResultCollection, GenricCollection) to Array"
Is there a way to convert a Collection back to an Array?

[2017-09-25 16:16] wtfzdotnet commented on #41
There is always the `toArray()` method to call on collections, although not having been busy with the code in a very long time I am not sure what results this produces over the various options that give back a collection.

[2017-09-25 19:48] roliod commented on #41
@wtfzdotnet It returns some sort of array but with no iterations you can call, so it is quite difficult to specify values to get.
[code]

I think the best way will be to have a reverse of the 'createCollection' function in the Factory.

[2017-09-26 17:57] wtfzdotnet commented on #41
I don't know your exact use case for wanting this data, but I have some idea's of why you would want this;

**Clientside ajax call**

I think you are far better off exposing a javascript implementation that directly connects to tmdb.

For other reasons I would honestly just consume the raw api methods and skip the overhead of creating the models etc.

Hope that helps, if not being more specific mi

[2017-09-26 19:46] roliod commented on #41
@wtfzdotnet I wanted to use this package to create an API quite similar to that of TMDB itself.

So I'll need the collection in an Array so that I can easily convert to json using the json_encode() function. The toArray() function on the collection does not return a valid array so json_encode() returns as empty.

 I found a work around though. But I had to pick the values I wanted from the collect

[2017-10-03 00:07] Fatih90 opened #43 "BUMP"

[2017-10-03 00:08] Fatih90 opened #44 "BUMP"

[2017-10-03 00:08] Fatih90 opened #45 "BUMP"

[2017-10-03 00:08] Fatih90 opened #46 "BUMP"

[2017-10-03 00:08] Fatih90 opened #47 "BUMP"

[2017-10-03 00:08] Fatih90 opened #48 "BUMP"

[2017-10-03 00:08] Fatih90 opened #49 "BUMP"

[2017-10-03 00:08] Fatih90 opened #50 "BUMP"

[2017-10-03 00:08] Fatih90 opened #51 "BUMP"

[2017-10-03 00:08] Fatih90 opened #52 "BUMP"

[2017-10-04 16:46] Fatih90 commented on #52
:bowtie:
:smile:
:laughing:
:blush:
:smiley:
:relaxed:
:smirk:
:heart_eyes:
:kissing_heart:
:kissing_closed_eyes:
:flushed:
:relieved:
:satisfied:
:grin:
:wink:
:stuck_out_tongue_winking_eye:
:stuck_out_tongue_closed_eyes:
:grinning:
:kissing:
:kissing_smiling_eyes:
:stuck_out_tongue:
:sleeping:
:worried:
:frowning:
:anguished:
:open_mouth:
:grimacing:
:confused:
:hushed:
:expressionless:
:unamuse

[2017-10-07 19:01] #43 closed

[2017-10-07 19:01] #44 closed

[2017-10-07 19:01] #45 closed

[2017-10-07 19:01] #46 closed

[2017-10-07 19:01] #47 closed

[2017-10-07 19:01] #48 closed

[2017-10-07 19:01] #49 closed

[2017-10-07 19:01] #50 closed

[2017-10-07 19:01] #51 closed

[2017-10-07 19:01] #52 closed

[2017-11-07 12:00] imsidz commented on #38
i am having same problem can u tell me how u fixed this? @Fatih90

[2018-01-07 05:14] frost-au commented on #38
I too would like to know how to fix this.

[2018-01-08 03:47] frost-au commented on #38
To anyone else that has this problem, there is a work around.
https://stackoverflow.com/questions/47158710/invalid-api-key-you-must-be-granted-a-valid-key-tmdb-laravel-5-5

basically edit the app file in your project directory config/app.php
add this to the list of providers within that file
Tmdb\Laravel\TmdbServiceProvider::class,

[2018-01-09 13:09] gbdematos opened #53 "Not working with Laravel 5.5"
I'm getting these when trying to install:

[code]

Any idea what might be causing this?

[2018-01-16 15:44] mukdagr8 commented on #53
Did you find a solution to this @gbdematos ? I'm getting the same error on a L5.5 fresh install :(

[2018-01-16 16:01] gbdematos commented on #53
Yes @mukdagr8, I deleted the whole vendor folder, included the package in `composer.json` and run `composer install`. It installed everything without any errors.

[2018-01-16 16:01] #53 closed

[2018-04-07 23:22] SquareBeard opened #54 "Service provider auto discovery support not working"
The service provider auto discovery is not registering the proper provider.
It registers the `TmdbServiceProviderLaravel5` provider instead of `TmdbServiceProvider`.
This prevent the API from working because the `Tmdb\Client` singleton is not setup.

Registering the provider manually fix the problem.

[2018-04-26 17:27] laravelish commented on #54
you will never get a response my friend believe me !
they will never fix it or merge your pull request

this project is dead someone else needs to maintain it

[2018-04-26 19:43] z38 commented on #54
@SquareBeard Thank you for the report and the steps to fix the issue. I think the auto discovery should work correctly after applying #55.

@laravelish Don't despair! ;) Pull-requests are still welcome and we will do our best to review them.

[2018-05-02 19:56] #54 closed

[2018-05-02 20:06] #41 closed

[2018-05-02 20:12] #10 closed

[2018-05-02 20:14] wtfzdotnet commented on #34
This question has been buried under a tomb for a while, I will be looking into this tomorrow but I am afraid the solution you would have had to bring up is a little bit messy messing around with the observers present.

[2018-05-02 21:04] djvu61 opened #56 "session token using Dependency injection"
Hello i can use this code and it works

[code]

but i have to reuse this code everywhere if i want to do things with my account,

my question is, is there i way to use this code using Dependency injection or other method

so i can use it in my AppServiceProvider

[2018-05-04 16:45] djvu61 commented on #56
hellooooooooooooo ????????????????????

[2018-05-08 16:53] djvu61 commented on #56
hellooooooooooooooooooooooooooooooooooooooooooo

[2018-05-13 17:51] djvu61 commented on #56
helloooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo

[2018-05-17 22:49] djvu61 commented on #56
helloooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo

[2018-05-21 01:33] ghost commented on #56
bump

[2018-07-05 01:16] limuel567 opened #57 "TV Shows"
i want to get the tv shows. how?

[2018-07-05 01:21] limuel567 commented on #57
use Tmdb\Repository\TvRepository;

sorry i got it now.

[2018-07-05 01:21] #57 closed, assigned to nobody

[2018-07-05 01:43] limuel567 commented on #29
@gmask hello sir can u send an example for the pagination.

[2018-07-09 21:50] benjivm commented on #29
@limuel567 In Laravel it's very simple, here's an example `search()` implementation:

[code]

[2018-09-26 03:38] limuel567 opened #58 "Giving Different Release Date Compared to TMDB developers.themoviedb.org"
https://github.com/php-tmdb/api/issues/187#issue-363540540

[2019-03-20 19:08] engelde opened #62 "Not working with laravel 5.8"
Hello,

I am attempting to use this with laravel 5.8 but I receive the following error:
Call to undefined method Illuminate\Events\Dispatcher::fire()

I have read that this was replaced with the following in laravel 5.8:
Illuminate\Events\Dispatcher::dispatch()

Is it possible that this will be updated in the future?

Thank you!

[2019-05-20 09:11] celorodovalho commented on #62
+1

[2019-05-24 10:33] Nielson commented on #62
If anyone runs into this problem, this can be fixed by changing a method name from "fire" to "dispatch" at line 49, so it looks like this:

[code]

File:  vendor/php-tmdb/laravel/src/Adapters/EventDispatcherAdapter.php

[2019-06-04 00:44] N3rdP1um23 commented on #62
I've made the update to the file but I'm still not able to have the event occur when I retrieve data from TMDb.  Is there something that I'm missing?

How are you guy's implementing the event listening?

[2019-06-22 07:32] DarkB0SsS opened #65 "The directory "/tmp/php-tmdb-api" is not writable."
On a random occasion I get this error:

InvalidArgumentException
The directory "/tmp/php-tmdb-api" is not writable.

I am using Ubuntu 16.04 and Laravel 5.5.4

How can I fix this permanently? From what I tested only reboot of the server helps until the next error.

[2019-06-24 18:51] Nielson commented on #62
Sorry for the late reply!

Did you manage to fix this? If not, which error are you getting?

[2019-06-26 02:49] N3rdP1um23 commented on #62
Oh that's okay.  I changed the files that was recommended but everytime an event it made, it is not captured.  I was just wondering where you placed a listener for TMDb events.

[2019-06-28 15:32] N3rdP1um23 commented on #62
@Nielson  Well, I figured out why the event wasn't being fired.  Little mishap on my end haha.  Just trying to parse the event response which is currently returning null.

Edit: Well, I capture the event and then I would like to perform some operations once I get the response from TMDb.  But, while the event is being captured, I try and access the response but the response is NULL.  When I check t

[2019-07-03 18:04] Nielson commented on #62
@N3rdP1um23 Could you please post the code that you fire when getting the response? A bit of code and if possible, a log would be really helpful :)

[2019-07-04 10:25] N3rdP1um23 commented on #62
@Nielson, Of course, haha, that would help, wouldn't it :)

**Controller**
[code]

**EventServiceProvider** under the boot method (will move it to a custom listener once everything is working under boot)
[code]
Once I can get that to work, like I said, I'll move it to my own listener to be handled there.  The dd's are just to show what I was testing and the response that I was getting is the value

[2019-08-16 09:56] starfreck commented on #62
**I am using this package with Laravel 5.8 but it isn't working. Anyone can help me?**

![Screenshot from 2019-08-16 15-23-37](https://user-images.githubusercontent.com/15255654/63159852-feae1080-c039-11e9-9c5a-27517fb197fb.png)
![Screenshot from 2019-08-16 15-23-54](https://user-images.githubusercontent.com/15255654/63159856-ff46a700-c039-11e9-9663-ede2a3349a51.png)

[2019-08-16 12:26] celorodovalho commented on #62
@vasuratanpara, check the @Nielson answer.

[2019-11-25 03:00] ghost commented on #65
then make it writable

[2019-12-07 09:47] JakeCow opened #66 "Laravel 6 support?"
Is L6.x support on the roadmap?

[2020-04-11 20:48] reasecret opened #68 "Laravel 7 Support?"
Will this package work with laravel 7?

[2020-04-13 09:13] kertahayu commented on #68
up

[2020-04-13 09:14] kertahayu commented on #68
not working with laravel 7. please fix this.

[2020-04-16 19:53] reasecret commented on #68
Looks like https://github.com/DariusIII/tmdb-laravel working with Laravel 7. I'm trying on local

[2020-04-16 19:53] #68 closed, assigned to nobody

[2020-06-05 05:04] mattkloc opened #69 "Laravel 7.x support?"
New Laravel upgrade causing issues with package that worked seamlessly before. Anyone have ideas on how to fix or know if support for new versions of Laravel are in the works?

Error
 Class 'App\Tmdb\ApiToken' not found

$token  = new Tmdb\ApiToken(env('TMDB_API_KEY'));
$client = new \Tmdb\Client($token);

composer require php-tmdb/api
    1/2:        http://repo.packagist.org/p/provider-latest$37

[2021-01-10 10:12] #34 closed

[2021-01-10 10:12] #56 closed, assigned to nobody

[2021-01-10 10:12] #58 closed, assigned to nobody

[2021-01-10 10:13] #62 closed, assigned to nobody

[2021-01-10 10:13] #65 closed, assigned to nobody

[2021-05-07 18:56] shstkvch opened #73 "I found a working fork for Laravel 7/8"
This is working for me on Laravel 8: https://github.com/DariusIII/tmdb-laravel

[2021-05-19 09:44] n0v3xx commented on #73
Oh great! Will this fork integrated in the original project?